* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #eef9bf;
}

header h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    color: #75B79E;
    text-align: center;
    margin-bottom: 47px;
    margin-top: 40px;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-card {
    display: flex;
    align-items: center;
    gap: 34px;
    flex-wrap: wrap;
    max-width: 872px;
}

.card {
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/parrot.png");
    background-repeat: no-repeat;
    background-position: center;
    transition: 500ms;
}

.card img {
    width: 100px;
}

.rotation {
    transform: rotateY(180deg);
    background-image: none;
}

@media (max-width: 614px){
    .container-card {
        flex-direction: column;
        justify-content: center;
    }
    
    main {
        padding-bottom: 34px;
    }
}